layout {
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab name="Learning" focus=true {
            pane {
            name "main"
            }
            floating_panes {
                        pane {
                                name "academy vpn"
                                command "selectvpn"
                                args "academy-regular"
                                x "60%"
                                y 0
                                width 100
                                height 15
                                }
                        pane {
                                name "watch vpn connection"
                                x "60%"
                                y 15
                                width 100
                                height 15
                                }
            }
        }
        tab name="hack HTB" focus=false {
            pane {
            name "main"
            }
        }
        tab name="hack THM" focus=false {
            pane {
            name "main"
            }
        }
}
