layout {
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab name="Dot/Org files" focus=true {
        pane {
        name "vifm"
        command "vifm"
        args "/home/yann/.dotfiles" "/home/yann/org"
            }
        }
        tab name="File Manager" focus=false {
            pane stacked=true {
                pane {
                name "backup"
                command "vifm"
                }
                pane {
                name "backup sudo"
                command "sudo"
                args "vifm" "/" "/"
                }
            }
        }
}
