layout {
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab name="Dired" focus=true {
        pane {
        name "Dired"
        command "emacsclient"
        args "-nw" "--eval" "(dired \"/home/yann\")"
            }
        }
        tab name="Vifm Dot/Org files" focus=false {
        pane {
        name "vifm"
        command "vifm"
        args "/home/yann/.dotfiles" "/home/yann/org"
            }
        }
        tab name="Vifm Backup File Manager" focus=false {
            pane stacked=true {
                pane {
                name "Vifm"
                command "vifm"
                args "/home/yann" "/home/yann"
                }
                pane {
                name "Vifm sudo"
                command "sudo"
                args "vifm" "/" "/"
                }
            }
        }
}
