layout {
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=2 borderless=true {
                plugin location="zellij:status-bar"
            }
        }
        tab name="Zettelkasten" {
            pane stacked=true {
                pane focus=true {
                name "zettels"
                command "emacsclient"
                args "-nw" "--eval" "(my/org-roam-open-register)"
                start_suspended true
                }
                pane focus=false {
                name "org directory"
                command "emacsclient"
                args "-nw" "--eval" "(dired org-directory)"
                start_suspended true
                }
            }
        }
}
